TestAkash/GitFlow_test.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ ],
        "controllerServices" : [ ],
        "funnels" : [ ],
        "identifier" : "ba21b514-f545-39f4-8245-88568de4f5af",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "testAkash2",
        "outputPorts" : [ ],
        "position" : {
          "x" : 1504.0,
          "y" : 544.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.11.4.1.1.0.0-119"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "ba21b514-f545-39f4-8245-88568de4f5af",
          "identifier" : "4a5f99a0-2026-34c5-90cb-0215e4af8c42",
          "name" : "MergeContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 887.0,
            "y" : 604.0
          },
          "properties" : {
            "Keep Path" : "false",
            "Merge Strategy" : "Bin-Packing Algorithm",
            "Attribute Strategy" : "Keep Only Common Attributes",
            "Compression Level" : "1",
            "Maximum Number of Entries" : "1000",
            "Minimum Group Size" : "0 B",
            "Maximum number of Bins" : "5",
            "Tar Modified Time" : "${file.lastModifiedTime}",
            "Delimiter Strategy" : "Filename",
            "Merge Format" : "Binary Concatenation",
            "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
            "Minimum Number of Entries" : "1"
          },
          "propertyDescriptors" : {
            "Keep Path" : {
              "displayName" : "Keep Path",
              "identifiesControllerService" : false,
              "name" : "Keep Path",
              "sensitive" : false
            },
            "Maximum Group Size" : {
              "displayName" : "Maximum Group Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Group Size",
              "sensitive" : false
            },
            "Merge Strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "Merge Strategy",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "Compression Level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "Compression Level",
              "sensitive" : false
            },
            "Maximum Number of Entries" : {
              "displayName" : "Maximum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Maximum Number of Entries",
              "sensitive" : false
            },
            "Minimum Group Size" : {
              "displayName" : "Minimum Group Size",
              "identifiesControllerService" : false,
              "name" : "Minimum Group Size",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "Tar Modified Time" : {
              "displayName" : "Tar Modified Time",
              "identifiesControllerService" : false,
              "name" : "Tar Modified Time",
              "sensitive" : false
            },
            "Delimiter Strategy" : {
              "displayName" : "Delimiter Strategy",
              "identifiesControllerService" : false,
              "name" : "Delimiter Strategy",
              "sensitive" : false
            },
            "Merge Format" : {
              "displayName" : "Merge Format",
              "identifiesControllerService" : false,
              "name" : "Merge Format",
              "sensitive" : false
            },
            "Footer File" : {
              "displayName" : "Footer",
              "identifiesControllerService" : false,
              "name" : "Footer File",
              "sensitive" : false
            },
            "Max Bin Age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "Max Bin Age",
              "sensitive" : false
            },
            "Demarcator File" : {
              "displayName" : "Demarcator",
              "identifiesControllerService" : false,
              "name" : "Demarcator File",
              "sensitive" : false
            },
            "Correlation Attribute Name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Correlation Attribute Name",
              "sensitive" : false
            },
            "Header File" : {
              "displayName" : "Header",
              "identifiesControllerService" : false,
              "name" : "Header File",
              "sensitive" : false
            },
            "mergecontent-metadata-strategy" : {
              "displayName" : "Metadata Strategy",
              "identifiesControllerService" : false,
              "name" : "mergecontent-metadata-strategy",
              "sensitive" : false
            },
            "Minimum Number of Entries" : {
              "displayName" : "Minimum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Minimum Number of Entries",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeContent",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}